<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header text-center bg-primary">
                    <h1 class="h1 ">Tabla de multiplicar</h1>
                </div>
                
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            
                            <% for(var i=0; i<total.length ;  i ++){ %>
                            <tr>
                                <td><%= (i+1) %></td>
                                <td><%= ' x ' %></td>
                                <td><%= a %></td>
                                <td><%= ' = ' %></td>
                                <th scope="row"><%= total[i] %></th>
                            </tr>
                            
                           <% } %>
                            
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
        </div>
        
       
    </body>
</html>

